name: Build Tasks Service Image
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: build-${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    uses: ./.github/workflows/build-push-image.job.yml
    with:
      service: tasks
      context: ./app/tasks
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
