name: Build Users Service Image
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read
  id-token: write

jobs:
  build:
    uses: ./.github/workflows/build-push-image.job.yml
    with:
      service: tasks
      context: ./app/tasks
    secrets:
      AWS_ROLE_ARN: ${{ secrets.AWS_ROLE_ARN }}
